<h1>Create new question</h1>

<%= render 'shared/errors', resource: @question %>
<br>

<%= form_with model: [@test, @question], local: true do |f| %>
  <%= f.label :body, "Body" %>
  <%= f.text_field :body %><br><br>
  <%= f.submit "Submit" %>
<% end %>
