<p><%= @question.body %></p>

<p>Ответы:</p>

<%= link_to 'Новый ответ', new_question_answer_path(@question) %>

<ol>
  <%= render @question.answers %>
</ol>
<br>

<%= link_to 'Редактировать', edit_question_path(@question) %>
<%= link_to 'Назад', test_path(@question.test) %>
