<%= form_with(model: [:admin, @badge], local: true) do |form| %>
  <%= render 'shared/errors', resource: @badge %>

  <div class="form-group">
    <%= form.label :filename %>
    <%= form.collection_select :filename, Badge.filenames, :to_s, :to_s, {}, { class: 'form-control' } %>
  </div>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
  </div>

  <div class="form-group">
  </div>

  <div class="form-group">
  </div>
<% end %>
