<%= form_with(model: [:admin, @badge], local: true) do |form| %>
  <%= render 'shared/errors', resource: @badge %>

  <div class="form-group">
    <%= form.label :filename %>
    <div id="badge_icon" class="align-middle"></div>
    <%= form.select :filename, badges_for_select, {}, { class: 'form-control' } %>
  </div>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :rule %>
    <%= form.select :rule, enum_for_select(Badge, :rule), {}, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :level %>
    <%= form.number_field :condition, min: 0, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :category %>
    <%= form.collection_select :condition, Category.all, :id, :name, { include_blank: true }, { class: 'form-control' } %>
  </div>

  <div class="form-group">
    <%= form.label :test %>
    <%= form.collection_select :condition, Test.all, :id, :title, { include_blank: true }, { class: 'form-control' } %>
  </div>

  <div class="form-group">
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>
