<h1><%= t('.header') %></h1>

<%= link_to t('.new'), new_admin_badge_path %>

<table class="table table-hover">
  <tr>
    <th><%= t('.badge') %></th>
    <th><%= t('.name') %></th>
    <th><%= t('.level') %></th>
    <th><%= t('.category') %></th>
    <th><%= t('.test') %></th>
    <th colspan=2><%= t('h.actions') %></th>
  </tr>
  <%= render @badges %>
</table>
