<tr>
  <td class="align-middle"><%= sprite_for(badge.filename) %></td>
  <td class="align-middle"><%= badge.name %></td>
  <td class="align-middle"><%= level(badge) %></td>
  <td class="align-middle"><%= category(badge) %></td>
  <td class="align-middle"><%= test_first_try(badge) %></td>
</tr>
