<h1><%= t('.header') %></h1>

<%= link_to t('.badges_all'), badges_path %>

<table class="table table-hover">
  <tr>
    <th><%= t('.badge') %></th>
    <th><%= t('.name') %></th>
    <th><%= t('.count') %></th>
  </tr>
  <%= render partial: 'badge_count', collection: @badges, as: 'badge' %>
</table>
