<%= form_with model: @user, local: true do |form| %>
  <%= render 'shared/errors', resource: @user %>

  <p>
    <%= form.label :name %>
    <%= form.text_field :name, id: :user_name %>
  </p>

  <p>
    <%= form.radio_button :user_type, 'student' %>
    <%= form.label :user_type_student, 'Ученик', class: 'inline-label' %>
    <%= form.radio_button :user_type, 'teacher' %>
    <%= form.label :user_type_teacher, 'Учитель', class: 'inline-label' %>
  </p>

  <p>
    <%= form.label :email %>
    <%= form.text_field :email, id: :user_email %>
  </p>

  <p>
    <%= form.label :password %>
    <%= form.password_field :password, id: :user_password %>
  </p>

  <p>
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation, id: :user_password_confirmation %>
  </p>

  <%= form.submit %>
<% end %>
