<h1><%= t('.header', title: @test_passage.test.title) %></h1>

<p><%= t('.complete_percent') %>:
  <span class="<%= success_class(@test_passage) %>">
    <%= @test_passage.success_percent %>%
  </span>
</p>

<%= content_tag :p, @test_passage.successful? ? t('.successful') : t('.failed') %>

<%= link_to t('.back'), tests_path %>
