<h1>
  <%= t('.header') %>
  <%= @test_passage.test.title %>
</h1>

<p>
  <%= t('.question_number') %>
  <%= @test_passage.current_question_index + 1 %> / <%= questions_size(@test_passage) %>

  <% if @test_passage.with_time? %>
    <div class="completion-time">
      <span><%= t('.completion_time') %></span>
      <span id="completion-time"><%= @test_passage.completion_time_left %></span>
    </div>
  <% end %>

  <div class="progress">
    <%= content_tag :div,
                    '',
                    class: 'progress-bar',
                    role: 'progressbar',
                    data: { progress: @test_passage.current_question_index,
                            total: questions_size(@test_passage) } %>
  </div>
</p>

<p>
  <b><%= @test_passage.current_question.body %></b>
</p>

<%= form_with url: test_passage_path(@test_passage), method: :put, local: true do |form| %>
  <%= form.collection_check_boxes :answer_ids, @test_passage.current_question.answers, :id, :body, include_hidden: false do |b| %>
    <p>
      <%= b.check_box id: "answer_ids_#{b.object.id}" %>
      <%= b.label %>
    </p>
  <% end %>

  <p><%= link_to 'Gist question', gist_test_passage_path(@test_passage), method: :post %></p>
  <p><%= form.submit t('h.next') %></p>
<% end %>
