<div class="footer mt-5 px-5">
  <hr>
  <%= github_url('alexamy', 'thinknetica-rails') %>
  <p>Test framework for students and teachers</p>
  <p>alexamy, <%= current_year %></p>
  <%= link_to 'Учебный проект в онлайн-школе Thinknetica', 'https://thinknetica.com/' %>
  <br>
  <p>
    Изображения бейджей созданы <%= link_to 'freepik', 'https://www.flaticon.com/authors/freepik' %>
    на сайте <%= link_to 'flaticon', 'https://www.flaticon.com/' %>
  </p>
  <br>
  <%= link_to 'Обратная связь', feedback_path %>
</div>
