<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <span class="navbar-text mr-auto">
    <%= link_to 'TestGuru', root_path, class: 'navbar-brand' %>
    <%= link_to admin_tests_path do %>
      <%= bootstrap_icon 'hammer', width: 25, height: 25 if admin? %>
    <% end %>
  </span>

  <span class="navbar-text">
    <% if user_signed_in? %>
      Добро пожаловать, <b><%= current_user.email %></b>
      <%= link_to 'Выйти', destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to 'Войти', new_user_session_path %>
      <%= link_to 'Регистрация', new_user_registration_path %>
    <% end %>
  </span>
</nav>
