<%= form_with(model: [:admin, @test], local: true) do |form| %>
  <%= render 'shared/errors', resource: @test %>

  <div class="actions">
    <%= form.label :title %>
    <%= form.text_field :title, id: :test_title %>
  </div>

  <div class="actions">
    <%= form.label :level %>
    <%= form.text_field :level, id: :test_label %>
  </div>

  <div class="actions">
    <%= form.label :category_id %>
    <%= form.collection_select :category_id, Category.all, :id, :name, prompt: true %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
