<%= form_with(model: [:admin, @test], local: true) do |form| %>
  <%= render 'shared/errors', resource: @test %>

  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title, id: :test_title, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :level %>
    <%= form.text_field :level, id: :test_label, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :completion_time %>
    <%= form.number_field :completion_time, min: 0, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :category_id %>
    <%= form.collection_select :category_id, Category.all, :id, :name, { prompt: true }, { class: 'form-control' } %>
  </div>

  <div class="form-group">
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>
