<tr>
  <td class="align-middle">
    <%= content_tag :span, test.title, class: 'test-title', data: { test_id: test.id } %>
    <%= render 'form_inline', test: test == @test ? @test : test %>
  </td>
  <td class="align-middle"><%= test.level %></td>
  <td class="align-middle"><%= test.questions.size %></td>
  <td class="align-middle"><%= test.completion_time %></td>

  <td class="align-middle"><%= link_to t('h.show'), admin_test_path(test) %></td>
  <td class="align-middle">
    <%= link_to t('h.edit'),
                edit_admin_test_path(test),
                data: { test_id: test.id, edit_label: t('h.edit'), cancel_label: t('h.cancel') },
                class: 'form-inline-link' %>
  </td>
  <td class="align-middle"><%= link_to t('h.delete'),
                  admin_test_path(test),
                  method: :delete,
                  data: { confirm: t('h.are_you_sure') } %></td>
</tr>
