<h1><%= t('.header') %></h1>

<p>
  <%= link_to t('.add_new'), new_admin_test_path %>
</p>

<table class="table">
  <tr>
    <th><%= t('.label') %></th>
    <th><%= t('.level') %></th>
    <th><%= t('.questions-count') %></th>
    <th colspan="4"><%= t('.actions') %></th>
  </tr>

  <%= render @tests %>
</table>
