<h1><%= @test.title %></h1>
<p>
  <%= t('.level') %>:
  <%= @test.level %>
</p>

<%= render 'admin/questions/test_questions' %>
<br>

<%= link_to t('.add_question'), new_admin_test_question_path(@test) %><br>
<br><br>
<%= link_to t('.back_to_tests'), admin_tests_path %>
