<p><%= AppInfo.ProjectName %></p>
<p><%= AppInfo.ProjectDescription %></p>
<p><%= AppInfo.Author %>, <%= Date.current.year %></p>
<%= link_to 'Учебный проект в онлайн-школе Thinknetica', 'https://thinknetica.com/' %>
